/* .form{
    width: 450px;
    height: 230px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    left: 450px;
    top: 20px;
    background-color: gainsboro;
    padding: 20px;
}
.Details{
    width: 200px;
    height: 100px;
    position: absolute;
    text-align: center;
    top: 350px;
    left: 550px;
} */